.note-show {
  padding: 20px;
  min-height: 200px;
  box-sizing: border-box;
  border: 5px solid #f08b00;
  position: relative;
  left: 0;
  top: 200px;
  width: 500px;
  background-color: #FFFFE3; 

}

.note-show-information {
  width: 400px;
  padding: 20px;
}

.note-show-buttons {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 90%;
}

.note-show-buttons div {
  cursor: pointer;
  padding-right: 10px;
  padding-left: 10px;
  border-bottom: 3px solid transparent;
}

.note-show-buttons div:hover {
  background-color: #FFFFE3; 
  cursor: pointer;
  border-bottom: 3px solid blue;
}

.remove-element {
  display: none;
}

.note-show-errors {
  display: block;
  height: 20px;
  width: 100%;
  text-align: center;
  color: rgb(172, 12, 12);
}