.notes-navbar {
  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
  background-color: #607D8B;
  height: 65px;
}

.notes-logo {
  font-family: 'Varela';
  font-size: 1.5em;
  grid-column-start: 1;
  grid-column-end: 2;
  color: #f08b00c4;
  font-weight: 800;
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
  align-items: center
}

.notes-logo-image {
  height: 40px;
  width: 40px;
  background-image: url('../images/memory.png');
  opacity: 0.6;
  background-repeat: no-repeat;
  background-size: auto 70%;
  background-position: center
}

.notes-navbar-links {
  display: flex;
  justify-content: space-around;
  grid-column-start: 3;
  grid-column-end: 4;
  font-family: 'Roboto';
  font-style: bold;
}

.header-name {
  line-height: 45px;
  font-family: 'Varela';
  font-size: 1.5em;
  grid-column-start: 1;
  grid-column-end: 2;
  color: #f08b00c4;
  font-weight: 800;
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
  align-items: center
}

.header-button {
  border: none;
  background: none;
  font-family: 'Roboto';
  font-size: 1em;
  font-style: bold;
  font-weight: 900;
  color: rgb(0, 189, 212);
  text-transform: uppercase;
  cursor: pointer
}

.notes {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Roboto';
  background-color: #607D8B;
  padding-left: 25px;

}

.note-index {
  width: 30%;
  background-color: #607D8B;
  border-top: 1px solid #f08b00c4;
  border-right: 1px solid #f08b00c4;
  border-bottom: 1px solid #f08b00c4;
  border-left: 1px solid #f08b00c4;
  margin-left: 15px;
  height: 100%;
  font-family: 'Roboto';

}

.note-index a {
  text-decoration: none;
  color: #FFDC00;
  font-family: 'Roboto';
}

.note-index-header {
  border-bottom: 1px solid #f08b00c4;
  color: #f08b00c4;
  font-family: 'Roboto';

}

.note-index-title {
  margin: 0 auto;
  text-align: center;
  color: #FFDC00;
  border-right: 1px solid #f08b00c4;
  border-bottom: 3px solid transparent;
  float: left;
  width: 33%;
  font-family: 'Roboto';
  box-sizing: border-box;
}

.note-index-title:hover {
  background-color: #FFFFE3; 
  color: black;
  cursor: pointer;
  border-bottom: 3px solid #f08b00;;
  font-family: 'Roboto';
}

.note-index-mine {
  margin: 0 auto;
  text-align: center;
  color: #FFDC00;
  border-right: 1px solid #f08b00c4;
  border-bottom: 3px solid transparent;
  float: left;
  width: 33%;
  font-family: 'Roboto';
  box-sizing: border-box;
}

.note-index-mine:hover {
  background-color: #FFFFE3; 
  color: black;
  cursor: pointer;
  border-bottom: 3px solid #f08b00;;
  font-family: 'Roboto';
}

.note-index-new {
  display: inline-block;
  text-align: center;
  width: 34%;
  border-bottom: 3px solid transparent;;
  font-family: 'Roboto';
  color: #FFDC00;
  box-sizing: border-box;
}

.note-index-new:hover {
  background-color: #FFFFE3; 
  color: black;
  cursor: pointer;
  border-bottom: 3px solid #f08b00;
  font-family: 'Roboto';

}

.note-index-item {
  padding-left: 15px;
  padding-top: 5px;
  border-bottom: 1px solid #f08b00;
  color: #FFDC00;
  background-color: #607D8B;
  cursor: pointer;
  width: 100%;
  border-left: 5px solid transparent;
  border-right: 0px solid transparent;
  border-top: 1px solid transparent;
  text-decoration: none;
  font-family: 'Roboto';
}

.note-index-item:active {
  text-decoration: none;
}

.note-index-item:hover {
  background-color: #FFFFE3;
  text-decoration: none;
  color: black;
}

.note-index-item:focus {
  background-color: #FFFFE3;
  color: black;
  border-left: 5px solid #f08b00;
  outline: 0;
}

.note-item-question {
  font-weight: bold;
  font-size: 1.2em;
}

.hide-element {
  display: none;
}

.close-x {
  position: absolute;
  top: 0;
  padding-top: 20px;
  padding-right: 20px;
  font-size: 20px;
  cursor: pointer;
}

.note-modal-title {
  text-align: center;
  top: 0;
}

.note-modal {
  display: flex;
  align-items: center;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  padding: 0px 40px;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
}



