html, body, div, span, h1, h2, h3, h4, a, ol, ul, li, form, label, article, aside, figure, figcaption, footer, header, nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Light.ttf');
}


:hover {
  text-decoration: none;
}

body {
  line-height: 1.5;
  height: 100%;
  font-family: 'Roboto';
}

ol, ul {
  list-style: none;
}

img {
  width: 100%
}

button:focus {
  outline: 0;
}



